/* Nilofer Taylor */
h1{
	color: blue;
}
li{
	color: red;
}
h4{
	color: red;
}
body{
	background: url(https://previews.123rf.com/images/vladystock/vladystock1802/vladystock180200104/95735053-abstract-geometric-background-with-connecting-dots-and-lines-modern-technology-concept-polygonal-str.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
